.claude
node_modules
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.next
.out
.vercel
.output
.next/cache
.next/server/pages
.next/server/chunks
.next/server/static
.next/server/static/*/pages
.next/server/static/*/routes-manifest.json
dist
target
logs
backups
data